@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0d0d0d;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}


/* @font faces for the whole site*/

@font-face {
  font-family: "Onest-Light";
  src: url(./assets/fonts/Onest-Light.ttf);
}

@font-face {
  font-family: "Onest-Regular";
  src: url(./assets/fonts/Onest-Regular.ttf);
}

@font-face {
  font-family: "Onest-Bold";
  src: url(./assets/fonts/Onest-Bold.ttf);
}

.primaryLight {
  font-family: "Onest-Light";
}

.primaryRegular {
  font-family: "Onest-Regular";
}

.primaryBold {
  font-family: "Onest-Bold";
}

/* YouthNav-bg holder*/

.youthNav-bg {
  background-image: url(./images/nav-bg-3.jpg);
  width: 100%;
  height: 100dvh;
}

/* youtube-bg holder*/

.youtube-bg-holder {
  background-image: url(./images/youtube-bg.JPG);
  width: 1325px;
  height: 600px;
}






/* 768px Media Query*/

@media screen and (max-width: 1100px) {
  .gupper-page-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .links-youth-nav {
    display: none;
  }

  .nav-res-button {
    display: block;
  }

  .p-text-hero-youth {
    font-size: 10px !important;
  }

  .grupper-container-home {
    padding: 100px 25px;
  }

  .grupper-wrapper-home {
    display: flex;
    flex-direction: column;
  }

  .hidden-grupper-img {
    display: none;
  }

  .yotube-container {
    padding: 0;
  }

  .youtube-bg-holder {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }

  .påmeldingHomeInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .gupper-page-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .nav-menu {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
  }

}
